body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

form{
  width: 100%;
  max-width: 400px !important;
  padding: 10px;
  
}

form img{
  width: 100%;
  margin-bottom: 10px;
}

form button{
  background-color: #34495e !important;
}


